<div id="<%= dom_id bike %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= bike.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Desc:</strong>
    <%= bike.desc %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Style:</strong>
    <%= bike.style %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= bike.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this bike", bike, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this bike', edit_bike_path(bike), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
